.Publication{
    max-width: 100%;
    border-bottom: 1px solid black;
    margin-top: 5px;
}

.user-img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

img{
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
}